<div class="container-md">
  <h2>
    LLM Models
  </h2>
  <div class="row">
    <div class="col-md-8">
      <%= render @llm_models %>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages && @pagy.pages > 1 %>
    </div>
    <div class="col-md-4">

      <div class="card mb-3">
        <div class="card-header">
          Search
        </div>
        <div class="card-body">
          <%= form_with(url: llm_models_path, method: :get, local: true) do |form| %>
            <div class="input-group">
              <%= form.text_field :query, class: "form-control", placeholder: "Search LLM models...", value: params[:query] %>
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          Filters
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action <%= 'active' if params[:open_source] == 'true' %>" href="<%= llm_models_path(open_source: 'true') %>">
            Open Source
          </a>
          <a class="list-group-item list-group-item-action <%= 'active' if params[:api_available] == 'true' %>" href="<%= llm_models_path(api_available: 'true') %>">
            API Available
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
